* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #443C3A;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #443C3A;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    position: relative;
    z-index: 3;
    height: 100vh;
}

.header__navigation {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    width: 805px;
    justify-content: space-between;
}

.menu-list {
    display: flex;
}

.menu-item+.menu-item {
    margin-left: 60px;
}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.menu__icon-list {
    display: flex;
}

.menu__icon-item {
    margin-left: 30px;
}

.header__content {
    max-width: 585px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.pre-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

.title {
    font-weight: 600;
    font-size: 72px;
    line-height: 95%;
    margin-bottom: 30px;
    color: #443C3A;
}

.description {
    max-width: 450px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}

.catalog-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 102.9%;
    color: #443C3A;
}

.catalog-link::after {
    content: '';
    display: block;
    width: 0;
    max-width: 138px;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.catalog-link:hover::after {
    max-width: 138px;
    width: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-item {
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.catalog {
    padding-top: 130px;
}



.catalog__items {
    display: flex;
    justify-content: space-between;
}



.catalog__item {
    width: 630px;
    height: 398px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    padding: 40px 30px;
    margin-bottom: 20px;
}

.catalog__item:nth-child(2) {
    height: 301px;
}

.catalog__item1:nth-child(1) {
    height: 301px;
}

.catalog__item1 {
    width: 630px;
    height: 398px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    padding: 40px 30px;
    margin-bottom: 20px;
}

.catalog__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
}


.rhoncus {
    width: 100%;
    height: 100%;
    max-height: 750px;
    background-image: url("../images/rhoncus.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.rhoncus__content {
    text-align: center;
    padding: 260px 0;
}

.rhoncus__content-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #443C3A;
}

.rhoncus__content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #443C3A;
    max-width: 464px;
    text-align: center;
    margin: 20px auto 50px;
}

.rhoncus__content button {
    border: 1px solid black;
    font-family: 'Montserrat Alternates';
    width: 278px;
    height: 60px;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.185em;
    color: #443C3A;
    outline: none;
    cursor: pointer;
}


/* Член */
.advertising {
    padding-top: 230px;
}
.add__img img{
    max-width: 508px;
    width: 100%;
    filter: drop-shadow(-101px -101px 0px #F6F6F6);
}
.block__add{
    display: flex;
    justify-content: space-between;
}
.add__rectangle {
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    max-height: 270px;
    max-height: 270px;
    max-width: 650px;
}
.add__inner h2 {
     margin-bottom: 20px !important; 
}
.add__inner {
    padding: 56px 0 0 56px;
}
.add__text {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #443C3A;
    padding-right: 50px;
}
.add__stats{
    margin-left: 30px;
    display: flex;
    margin-top: 70px;
}
.add__link {
    margin-top: 70px;
    margin-left: 30px;
}
.add__stats__item {
    width: 146px;
    margin-left: 70px;
}
.add__stats__item:first-child {
    margin-left: 0;
}
.stats__chislo {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 137.4%;
    /* or 49px */

    letter-spacing: 0.05em;

    color: #443C3A;
}
.stats__text {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

/* /Член */
/* POPULAR */

.popular__set {
    position: relative;
    margin-top: 130px;
}
.popular__background {
    z-index: -1;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 75%;

    background-color: #F6F6F6;
}
.popular__content {
    text-align: center;
}

.popular__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding-bottom: 50px;
}
.product-name {
    margin: 0 auto;
    max-width: 230px;
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #443C3A;
}
.product-price {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #443C3A;
}
.popular__link { 
    padding-bottom: 130px;
}
.popular__link button {
    text-transform: lowercase;
    background: none;
    border:none;
    border-bottom: 1px solid black;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 35px;
    cursor: pointer;
}
.popular__img {
    position: relative;
    display: block;
}
.popular__img img{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.popular__img:hover .item__link{
    display: block;
}
.item__link {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}
.item__link button {
    background: none;
    border:none;
    cursor: pointer;
}
.item__link img:last-child{
    margin-left: 15px;
}
.popular__item {
    position: relative;
}
/* /POPULAR */

.block__adventages {
    padding: 130px 0 50px 0;
}

.block__adventages h2 {
    text-align: center;
}

.adventage-inner {
    justify-content: center;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));

}

.adventage {
    display: block;
    margin-top: 50px;
    text-align: center;
    height: 215px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
}

.adventage__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
    color: #443C3A;
}

.adventage__text {
    padding: 15px 26px 0 26px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.adventage__icon {
    padding-top: 25px;
}

/* footer */

.footer {
    margin-top: 130px;
    border-top: 1px solid #999999;
}

.footer__logo {
    display: block;
    text-align: center;
    margin: 50px 0;
}

.footer__inner {}

.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: block;
}

.footer__item:nth-child(3) {
    max-width: 300px;
}

.footer__item:nth-child(4) {
    max-width: 395px;
}

.footer__item-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #443C3A;
}

.footer__item-content {
    margin-top: 50px;
}

.footer-content__link {
    display: block;
    margin-bottom: 25px;
}

.footer-content__link:hover {
    font-weight: 400px;
}

.footer__message-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.085em;
}

.footer__form {
    margin-top: 50px;
}

.footer__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #443C3A;
    padding: 10px;
    width: 270px;
}

.footer__input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #837977;
}

.footer__button {
    background: transparent;
    outline: none;
    border: none;
    transform: translateX(-30px);
}

.footer__link {
    margin: 25px 0 50px;
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}

.footer__politics {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.085em;
    text-decoration-line: underline;
    color: #443C3A;
}
/* add block */


/* 1110 */

@media screen and (max-width: 1110px) {
    
    .add__stats {
        margin-top: 20px;
    }
   
}
@media screen and (max-width: 1180px) {
    .add__rectangle {
        height: 50%;
    }
}
@media screen and (max-width: 1060px) {
    .add__link {
        margin-top: 30px;
    }
    .add__inner {
        padding: 25px 0 0 25px;
    }
}
@media screen and (max-width: 1050px) {
    .block__add {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .add__rectangle {
        margin-top: 20px;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
    .add__stats {
        margin-top: 50px;
        justify-content: center;
    }
    .add__link {
        margin-top: 60px;
        text-align: center;
    }
    .add__inner {
        text-align: center;
        padding: 80px 0 80px 0;
    }
    .add__inner h2 {
        margin-bottom: 50px;
    }
}