* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #443C3A;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #443C3A;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #443C3A;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    position: relative;
    z-index: 3;
    height: 100vh;
}

.header__navigation {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    width: 805px;
    justify-content: space-between;
}

.menu-list {
    display: flex;
}

.menu-item+.menu-item {
    margin-left: 60px;
}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.menu__icon-list {
    display: flex;
}

.menu__icon-item {
    margin-left: 30px;
}

.menu__burger {
    position: absolute;
    right: 30px;
}

.burger__btn {
    background: transparent;
    border: none;
    outline: none;
}

.burger__img {
    display: none;
}

.header__content {
    max-width: 585px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
}

.pre-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

.title {
    font-weight: 600;
    font-size: 72px;
    line-height: 95%;
    margin-bottom: 30px;
    color: #443C3A;
}

.description {
    max-width: 450px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}

.catalog-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 102.9%;
    color: #443C3A;
}

.catalog-link::after {
    content: '';
    display: block;
    width: 0;
    max-width: 138px;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.catalog-link:hover::after {
    max-width: 138px;
    width: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider-item {
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.catalog {
    padding-top: 130px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.catalog__items-wrapper {
    display: grid;
    grid-template-rows: 398px 301px;
    grid-gap: 20px;
}

.catalog__item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    padding: 40px 30px;
    cursor: pointer;
}

.catalog__item-text::after {
    content: '';
    display: block;
    width: 0;
    max-width: 93px;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.catalog__item:hover .catalog__item-text::after {
    max-width: 93px;
    width: 100%;
}

.catalog__items-mod {
    grid-template-rows: 301px 398px;
}

.catalog__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
}


.rhoncus {
    width: 100%;
    height: 100%;
    max-height: 750px;
    background-image: url("../images/rhoncus.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.rhoncus__content {
    text-align: center;
    padding: 260px 0;
}

.rhoncus__content-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #443C3A;
}

.rhoncus__content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #443C3A;
    max-width: 464px;
    text-align: center;
    margin: 20px auto 50px;
}

.rhoncus__content a {
    border: 1px solid black;
    font-family: 'Montserrat Alternates';
    padding: 19px 85px;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.185em;
    color: #443C3A;
    outline: none;
    cursor: pointer;
}


/* advertising */
.advertising {
    padding-top: 230px;
}

.add__img img {
    max-width: 508px;
    width: 100%;
    filter: drop-shadow(-101px -101px 0px #F6F6F6);
}

.block__add {
    display: flex;
    justify-content: space-between;
}

.add__rectangle {
    background-color: #F6F6F6;
    max-width: 650px;
    margin-left: 20px;
}

.add__inner h2 {
    margin-bottom: 20px !important;
}

.add__inner {
    padding: 56px 0 56px 56px;

}

.add__text {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #443C3A;
}

.add__stats {
    margin-left: 30px;
    display: flex;
    margin-top: 70px;
}

.add__link {
    margin-top: 70px;
    margin-left: 30px;
}

.add__stats__item {
    width: 146px;
    margin-left: 70px;
}

.add__stats__item:first-child {
    margin-left: 0;
}

.stats__chislo {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 137.4%;
    letter-spacing: 0.05em;
    color: #443C3A;
}

.stats__text {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

/* /advertising */

/* POPULAR */

.popular__set {
    position: relative;
    margin-top: 130px;
}

.popular__background {
    z-index: -1;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 75%;

    background-color: #F6F6F6;
}

.popular__content {
    text-align: center;
}

.popular__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    padding-bottom: 50px;
}

.product-name {
    margin: 0 auto;
    max-width: 230px;
    padding-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #443C3A;
}

.product-price {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #443C3A;
}

.popular__link {
    padding-bottom: 130px;
}

.popular__link a {
    text-transform: lowercase;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 35px;
    cursor: pointer;
}

.popular__img {
    position: relative;
    display: block;
}

.popular__img img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.popular__img:hover .item__link {
    display: block;
}

.item__link {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.item__link button {
    background: none;
    border: none;
    cursor: pointer;
}

.item__link img:last-child {
    margin-left: 15px;
}

.popular__item {
    position: relative;
    cursor: pointer;
}

/* /POPULAR */

.block__adventages {
    padding: 130px 0 50px 0;
}

.block__adventages h2 {
    text-align: center;
}

.adventage-inner {
    justify-content: center;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-auto-columns: max-content;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));

}

.adventage {
    display: block;
    margin-top: 50px;
    text-align: center;
    height: 215px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
}


.adventage__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
    color: #443C3A;
}

.adventage__text {
    padding: 15px 26px 0 26px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.adventage__icon {
    padding-top: 25px;
}

.adventage__icon img {
    display: inline-block;
}

/* slider fixed */

.adventage-inner .slick-dots,
.popular__items .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventage-inner .slick-dots li,
.popular__items .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.adventage-inner .slick-dots button,
.popular__items .slick-dots button {
    border: none;
    outline: none;
    font-size: 0;
    width: 30px;
    height: 1px;
    background: url('../images/dots.svg');
    cursor: pointer;
}

.adventage-inner .slick-dots .slick-active {
    border: none;
    outline: none;
    font-size: 0;
    width: 30px;
    height: 1px;
    background: url('../images/dots-active.svg');
    cursor: pointer;
}

/* /slider fixed */

/* footer */

.footer {
    margin-top: 130px;
    border-top: 1px solid #999999;
}

.footer__logo {
    display: block;
    text-align: center;
    margin: 50px 0;
}

.footer__inner {}

.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: block;
}

.footer__item-title::after {
    content: '';
    display: none;
    width: 100%;
    height: 1px;
    background: #BEBEBE;
    transition: width .3s;
    margin-top: 10px;
}

.footer__item-title::before {
    content: url('../images/arrow.svg');
    display: none;
    position: absolute;
    right: 30px;
    max-width: 20px;
    transform: rotate(270deg);
}

.footer__item-title__active::before {
    content: url('../images/arrow.svg');
    display: block;
    position: absolute;
    right: 36px;
    transform: rotate(90deg);
}

.footer__item:nth-child(3) {
    max-width: 300px;
}

.footer__item:nth-child(4) {
    max-width: 395px;
}

.footer__item-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #443C3A;
}

.footer__item-content {
    margin-top: 50px;
}

.footer-content__link {
    display: block;
    margin-bottom: 25px;
}

.footer-content__link:hover {
    font-weight: 400px;
}

.footer__message-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.085em;
}

.footer__form {
    margin-top: 50px;
}

.footer__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #443C3A;
    padding: 10px;
    width: 270px;
}

.footer__input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #837977;
}

.footer__button {
    background: transparent;
    outline: none;
    border: none;
    transform: translateX(-30px);
    padding: 10px;
    cursor: pointer;
}

.footer__link {
    margin: 25px 0 50px;
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}

.footer__politics {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.085em;
    text-decoration-line: underline;
    color: #443C3A;
}

/* add block */
/* СТРАНИЦА ТОВАРА */

.block__item {
    margin-top: 130px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.item__slider {
    background-color: #F6F6F6;
    min-height: 616px;
    min-width: 730px;
    max-width: 730px;
}

.item__description {
    margin-left: 40px;
    position: relative;
    max-width: 510px;
    width: 100%;
    right: 0;
}
.item__description-inner{

}
.item__description-fixed {
    position: fixed;
    top: 50px;
    max-width: 510px;
}
.item__description-absolute{
    position: absolute;
    bottom: 0;
}

.item__name * {
    margin-bottom: 20px !important;
}

.item__text {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #443C3A;
}

.item__price {
    margin-top: 50px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.item__color {
    margin-top: 25px;
    display: flex;
}

.item__color * {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
}

.item__color *:first-child {
    margin-left: 0px;
}

.item__color button:nth-child(1) {
    background-color: #C4C4C4;
}

.item__color button:nth-child(2) {
    background-color: #CAB5B0;
}

.item__color button:nth-child(3) {
    background-color: #C5BE80;
}

.item__color button:nth-child(4) {
    background-color: #7F8AB2;
}

.item__color button:nth-child(5) {
    background-color: #F1F1F1;
}

.item__to__cart {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.item__to__cart * {
    background: none;
    border: none;
    outline: none;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.btn__cart {
    margin-right: 20px;
    border: 1px solid #443C3A;
    max-width: 400px;
    height: 50px;
    width: 100%;
}

.item__delivery {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.item__delivery *:last-child {
    margin-left: 20px;
}

.plus__good {
    max-width: 730px;
    margin-top: 100px;
}

.another__tittle__desc {
    cursor: pointer;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.another__tittle__wrapper {
    margin-top: 35px;
}

.another__tittle__wrapper h3 {
    padding: 10px 0 10px 0;
}

.another__text {
    display: none;
    margin-top: 20px;
}

.another__text * {
    margin-bottom: 15px;
}

.another__text *:last-child {
    margin-bottom: 0;
}

/* /СТРАНИЦА ТОВАРА */

/* 1110 */

@media screen and (max-width: 1110px) {

    .add__stats {
        margin-top: 20px;
    }

    .header__logo {
        margin-right: 50px;
    }

}

@media screen and (max-width: 1180px) {
    .item__description {
        margin-top: 40px;
        margin-left: 0px;
    }
    .block__item {
        display: block;
    }
    .add__rectangle {
        height: 50%;
    }

    .footer__item:nth-child(4) {
        max-width: 295px;
    }
}

@media screen and (max-width: 1060px) {
    .add__inner {
        padding: 25px 0 0 25px;
    }

    .footer__item:nth-child(4) {
        max-width: 255px;
    }

    .footer__item:nth-child(3) {
        max-width: 250px;
    }

    .footer__input {
        width: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .block__add {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .add__rectangle {
        margin-top: 20px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
    }

    .add__stats {
        margin-top: 50px;
        justify-content: center;
        margin-left: 0px;
    }

    .add__link {
        margin-top: 40px;
        margin-left: 0px;
        text-align: center;
    }

    .add__inner {
        text-align: center;
        padding: 80px 30px;
    }

    .add__inner h2 {
        margin-bottom: 50px;
    }

    .advertising {
        padding-top: 118px;
    }

    .add__img img {
        filter: drop-shadow(-101px -60px 0px #F6F6F6);
    }

    .popular__set {
        margin-top: 50px;
    }

    .block__adventages {
        padding: 50px 0 50px 0;
    }
}



@media screen and (max-width: 950px) {
    .header__navigation {
        justify-content: center;
    }

    .header__inner {
        height: 85vh;
    }

    .header__logo {
        margin-right: 0px;
    }

    .active {
        display: block;
    }

    .menu {
        padding: -10px 0 -10px 0;
        display: none;
        position: absolute !important;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        z-index: -1;
        height: 100vh;
    }

    .menu-list {
        display: block;
        text-align: center;
        padding-top: 150px;
    }

    .menu-item+.menu-item {
        margin-left: 0px;
        border-bottom: 1px solid #989898;
        padding: 20px 0;
    }

    .menu-item {
        border-bottom: 1px solid #989898;
        padding: 20px 0;
    }

    .menu__icon-list {
        display: block;
        text-align: center;
    }

    .menu__icon-item {
        margin-left: 0px;
        border-bottom: 1px solid #989898;
        padding: 10px 0;
    }

    .slider-item {
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
    }

    .header__content {
        position: unset;
        top: 0;
        transform: translateY(0);
        margin: 25px 0 0 34px;
        max-width: 700px;
    }

    .catalog {
        padding-top: 50px;
    }

    .footer__item:nth-child(4) {
        max-width: 235px;
    }

    .footer__item:nth-child(3) {
        max-width: 220px;
    }

    .footer__input {
        width: 190px;
    }
}

@media screen and (max-width: 900px) {
    .footer__item-content {
        display: none;
    }

    .footer__item-content__active {
        display: block;
    }

    .footer__item-title::after {
        display: block;
    }

    .footer__item-title::before {
        display: block;
    }

    .footer__item-title {
        margin-bottom: 50px;
        cursor: pointer;
    }

    .footer__items {
        display: block;
    }

    .footer__item:nth-child(3),
    .footer__item:nth-child(4) {
        max-width: 100%;
    }

    .footer-content__link {
        padding: 10px;
    }

    .footer__link {
        align-items: center;
        flex-direction: column;
    }

    .footer__copy {
        margin-bottom: 25px;
    }

    .footer__input {
        width: 300px;
    }

    .adventage-inner {
        display: block;
    }

    .adventage {
        margin: 50px 15px;
    }
}

@media screen and (max-width: 850px) {
    .catalog__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .catalog__items-wrapper,
    .catalog__items-mod {
        display: grid;
        grid-template-rows: 301px 301px;
        grid-gap: 20px;
    }

    .popular__items {
        display: block;
    }

    .popular__item {
        width: 335px;
    }

    .popular__img-card {
        max-width: 335px;
        display: inline-block;
    }

    .popular__img img {
        object-fit: cover;
        max-width: 400px;
    }

    .slick-slide img {
        display: inline-block;
    }

}

@media screen and (max-width: 650px) {
    .add__stats {
        flex-direction: column;
        align-items: center;
    }

    .add__stats__item {
        margin-left: 0px;
        text-align: center;
        margin-bottom: 35px;
        width: 100%;
    }

    .add__inner {
        text-align: center;
        padding: 30px 20px;
    }

    .add__link {
        margin-top: 0px;
        font-size: 12px;
        line-height: 137.4%;
        letter-spacing: 0.05em;
    }

    .add__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 95%;
    }

    .description {
        line-height: 20px;
    }
}



@media screen and (max-width: 550px) {
    .logo {
        width: 179px;
        height: 30px;
    }

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
    }

    .catalog__item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .catalog__item-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }

    .catalog__item-text::after {
        max-width: 84px;
    }

    .catalog__item:hover .catalog__item-text::after {
        max-width: 84px;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 159px;
    }
}

@media screen and (max-width: 360px) {
    .header__navigation {
        justify-content: space-between;
    }

    .header__content {
        margin: 25px 0 0 15px;
    }

    .footer__input {
        width: 200px;
    }
}


/*  */

.chlen {
    width: 100%;
    height: 100%;
}
.block__item-inner {
    max-width: 730px;
    display: grid;
    grid-template-columns: 140px calc(100% - 140px);
}
.thumb-slider img{
    margin-bottom: 25px;
    cursor: pointer;
}
.thumb-slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
     margin-right: 16px;
}



/*  */